@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    /* background: linear-gradient(#8b016a,#6f1159); */
    background: #110d25 !important;
    min-height: 100vh;
    overflow-x: hidden;
    transition: 0s linear;

}

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#header .logo{
    color: transparent;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    background: url(img/back.png);
    -webkit-text-stroke: 1px #410048 ;
    -webkit-background-clip: text;
    background-repeat: 0 0;
    animation: back 40s linear infinite;    
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

#header .navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .navigation li {
    list-style: none;
    margin-left: 20px;
}
#header .navigation li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

#header .navigation li a:hover,
#header .navigation li a.active{
    background-color: #fff;
    color: #111;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
#bg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#lamp{
    mix-blend-mode: screen;
}
#clg{
    width: 100%;
}

/* #bird1{
    top: 75px;
    left: -218.6px;
}
#bird2{
    top: -4.8px;
    left: -16px;
} */
#bird2{
    top: 0;
    left: 0;
}
/* #stars2{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
        #aagneya{
            position: absolute;
            top: 140%;
            right: 0;
            transform: translateX(-3%);
            color: #fff;
            font-size: 10vw;
            white-space: nowrap;
            text-shadow: 0 10px 15px rgba(0,0,0,0.25);
            font-family: 'Righteous', cursive;
            /* animation: box-move 1s infinite alternate-reverse; */
            /* transition: 300ms; */
        }
#logo-img{
    transform: translateY(125px);
}
.sec{
    position: relative;
    padding: 100px;
    /* background: radial-gradient(circle, #240015 0%, #12000b 100%); */
    
    z-index: 10;
}
.sec h2{
    font-size: 3em;
    margin-bottom: 10px;
}
.sec p{
    font-size: 1em;
}

#bottom{
    bottom: -27px;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to top, #011227,transparent);
    z-index: 10;
}
section::after {
    content: "";
    position: absolute;
    bottom: -317px;
    left: 0px;
    width: 100%;
    height: 335px;
    background: linear-gradient(rgb(1, 18, 39), #110d25);
    z-index: 10;
}
.logo-section{
    position: absolute;
    left: 2%;
    top: 700px;
    /* background: #7D3152; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2000;
}
.aagneya-logo1{
    position: absolute;
    top: 0;
    left: 0;
    width: 26vw;
}
.aagneya-logo2{
    position: absolute;
    top: 0;
    left: 0;
    width: 26vw;
}
#aagneya-text{
    position: absolute;
    top: 53%;
    right: 17vw;
    opacity: 0.2;
    transform: translateY(87%);
    color: #fff;
    font-size: 7vw;
    white-space: nowrap;
    text-shadow: 0 10px 15px rgb(0 0 0 / 25%);
    font-family: 'Righteous';
    /* animation: box-move 1s infinite alternate-reverse; */
    /* transition: 300ms; */
}
#mobileLogo{
    display: none;
}
@keyframes box-move {
    0% {
      transform: translateY(-3%);
    }
    100% {
      transform: translateY(-5%);
    }
  }
#bird2_mobile{
    display: none;
}
#bird_lt_mobile{
    display: none;
}
#hill_5{
    bottom: -273px;
}
.sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.fh1{
    margin-top: 3vh;
    /* font-family: 'Righteous'; */
    font-family: 'Jost', sans-serif;
    color: #527bdf;
}
p{
    font-family: 'Jost', sans-serif;
    color: #c7e0ff;
}
.content-div{
    margin-top: 10px;
    z-index: 20;
}

.image-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}
.hori-kuttan{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    left: 900px;
}
.hori-kuttan img{
    margin: 10px;
}
.hori-kutti{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    left: -810.5999999999999px;
}
.hori-kutti img{
    margin: 10px;
}
    .tech-camp{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 16px;
        align-items: flex-start;
        margin-top: 3%;
    }
    .tech-camp img{
        width: 40%;
        height: auto;
        border-radius: 12px;
        animation: box-move 1s infinite alternate-reverse;
        transition: 300ms;
    }
    .tech-camp h3{
        padding: 0 0 20px 0;
        color: #fff;
        margin-top: 5px;
    }
    .tech-camp-head{
        margin-bottom: 0;
    }
    .tech-camp-desktop{
        display: flex;
        flex-direction: column;
        padding: 0 6% 6% 6%;
    }
    .tech-camp-desktop button{
        margin: 30px 0 0 0;
    } 
.reg-container{
    margin-top: 20px;
    width: 100%;
    height: 100vh;
}

.reg-page-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-camp-page{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    align-items: flex-start;
    margin-top: 3%;
    padding: 0 28%;     
}
.tech-camp-page-poster{
    margin-top: 20px;
    width: 87% !important;
}
/* .neon-button{
    color: #00A300;
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.25em 1em;
    border: 3px solid currentColor;
    margin-top: 30px;
    border-radius: 5px;
    width: 170px;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.12em currentColor;
    box-shadow: inset 0 0 0.5em 0 #03d60381, 0 0 0.5em #03d60381;

} */
.green-neon-btn {
    position: relative;
    width: 204px;
    display: inline-block;
    padding: 16px 30px;
    margin: 40px 0;
    color: #5c12ec;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,rgba(0,0,0,.13333333333333333));
  }
  .green-neon-btn:link , .green-neon-btn:active {
    color : #5c12ec;
  }
  .green-neon-btn:hover {
    background : #5c12ec;
    color : #050801;
    box-shadow : 0 0 5px #5c12ec,
                  0 0 25px #5c12ec,
                0 0 50px #5c12ec,
                0 0 200px #5c12ec;
  }
  .green-neon-btn span {
    position : absolute;
    display : block;
  }
  
  .green-neon-btn span:nth-child(1) {
    /* top : 0;
    left : -100%;
    width : 100%; */
    height :2px;
    background : linear-gradient(90deg,transparent,#5c12ec);
    animation : animate1 1s linear infinite;
  }
  @keyframes animate1 {
    0% {left : -100%}
    50%,100%{left :100%}
  }
  
  .green-neon-btn span:nth-child(2) {
    top : -100%;
    right : 0;
    height : 100%;
    width :2px;
    background : linear-gradient(180deg,transparent,#5c12ec);
    animation : animate2 1s linear infinite;
    animation-delay : 0.25s;
  }
  @keyframes animate2 {
    0% {top : -100%}
    50%,100%{top :100%}
  }
  
  
  .green-neon-btn span:nth-child(3) {
    bottom : 0;
    right : -100%;
    width : 100%;
    height :2px;
    background : linear-gradient(90deg,transparent,#5c12ec);
    animation : animate3 1s linear infinite;
    animation-delay : 0.5s;
  }
  @keyframes animate3 {
    0% {right : -100%}
    50%,100%{right :100%}
  }
  
  
  .green-neon-btn span:nth-child(4) {
    left : 0;
    bottom : -100%;
    width : 2px;
    height :100%;
    background : linear-gradient(90deg,transparent,#5c12ec);
    animation : animate4 1s linear infinite;
    animation-delay : 0.75s;
  }
  @keyframes animate4 {
    0% {bottom : -100%}
    50%,100%{bottom :100%}
  }

  /* cultural popup btn  */
  .green-neon-btn-cultural {
    color: #ff005db5;
  }
  .green-neon-btn-cultural:link , .green-neon-btn:active {
    color : #ff005db5;
  }
  .green-neon-btn-cultural:hover {
    background : #ff005db5;
    box-shadow : 0 0 5px #ff005db5,
                  0 0 25px #ff005db5,
                0 0 50px #ff005db5,
                0 0 200px #ff005db5;
  }
  .green-neon-btn-cultural span:nth-child(1) {
    background : linear-gradient(90deg,transparent,#ff005db5);
  }
  .green-neon-btn-cultural span:nth-child(2) {
    background : linear-gradient(180deg,transparent,#ff005db5);
  }
  .green-neon-btn-cultural span:nth-child(3) {
    background : linear-gradient(90deg,transparent,#ff005db5);
  }
  .green-neon-btn-cultural span:nth-child(4) {
    background : linear-gradient(90deg,transparent,#ff005db5);
  }
  /* cultural popup btn ends */


    /* cultural popup btn  */
    .green-neon-btn-managerial {
      color: #02ff61;
    }
    .green-neon-btn-managerial:link , .green-neon-btn:active {
      color : #ffffff;
    }
    .green-neon-btn-managerial:hover {
      background : #02ff61;
      box-shadow : 0 0 5px #02ff61,
                    0 0 25px #02ff61,
                  0 0 50px #02ff61,
                  0 0 200px #02ff61;
    }
    .green-neon-btn-managerial span:nth-child(1) {
      background : linear-gradient(90deg,transparent,#02ff61);
    }
    .green-neon-btn-managerial span:nth-child(2) {
      background : linear-gradient(180deg,transparent,#02ff61);
    }
    .green-neon-btn-managerial span:nth-child(3) {
      background : linear-gradient(90deg,transparent,#02ff61);
    }
    .green-neon-btn-managerial span:nth-child(4) {
      background : linear-gradient(90deg,transparent,#02ff61);
    }
    /* cultural popup btn ends */


    /* cultural popup btn  */
    .green-neon-btn-entrepreneurial {
      color: #1489a1;
    }
    .green-neon-btn-entrepreneurial:link , .green-neon-btn:active {
      color : #ffffff;
    }
    .green-neon-btn-entrepreneurial:hover {
      background : #1489a1;
      box-shadow : 0 0 5px #1489a1,
                    0 0 25px #1489a1,
                  0 0 50px #1489a1,
                  0 0 200px #1489a1;
    }
    .green-neon-btn-entrepreneurial span:nth-child(1) {
      background : linear-gradient(90deg,transparent,#1489a1);
    }
    .green-neon-btn-entrepreneurial span:nth-child(2) {
      background : linear-gradient(180deg,transparent,#1489a1);
    }
    .green-neon-btn-entrepreneurial span:nth-child(3) {
      background : linear-gradient(90deg,transparent,#1489a1);
    }
    .green-neon-btn-entrepreneurial span:nth-child(4) {
      background : linear-gradient(90deg,transparent,#1489a1);
    }
    /* cultural popup btn ends */

    /* cultural popup btn  */
    .green-neon-btn-cultural {
      color: #ed2cff;
    }
    .green-neon-btn-cultural:link , .green-neon-btn:active {
      color : #ffffff;
    }
    .green-neon-btn-cultural:hover {
      background : #ed2cff;
      box-shadow : 0 0 5px #ed2cff,
                    0 0 25px #ed2cff,
                  0 0 50px #ed2cff,
                  0 0 200px #ed2cff;
    }
    .green-neon-btn-cultural span:nth-child(1) {
      background : linear-gradient(90deg,transparent,#ed2cff);
    }
    .green-neon-btn-cultural span:nth-child(2) {
      background : linear-gradient(180deg,transparent,#ed2cff);
    }
    .green-neon-btn-cultural span:nth-child(3) {
      background : linear-gradient(90deg,transparent,#ed2cff);
    }
    .green-neon-btn-cultural span:nth-child(4) {
      background : linear-gradient(90deg,transparent,#ed2cff);
    }
    /* cultural popup btn ends */


        /* cultural popup btn  */
        .green-neon-btn-others {
          color: #b41b1b;
        }
        .green-neon-btn-others:link , .green-neon-btn:active {
          color : #ffffff;
        }
        .green-neon-btn-others:hover {
          background : #b41b1b;
          box-shadow : 0 0 5px #b41b1b,
                        0 0 25px #b41b1b,
                      0 0 50px #b41b1b,
                      0 0 200px #b41b1b;
        }
        .green-neon-btn-others span:nth-child(1) {
          background : linear-gradient(90deg,transparent,#b41b1b);
        }
        .green-neon-btn-others span:nth-child(2) {
          background : linear-gradient(180deg,transparent,#b41b1b);
        }
        .green-neon-btn-others span:nth-child(3) {
          background : linear-gradient(90deg,transparent,#b41b1b);
        }
        .green-neon-btn-others span:nth-child(4) {
          background : linear-gradient(90deg,transparent,#b41b1b);
        }
        /* cultural popup btn ends */

  /* neon */
  /* .neon {rgb(58, 53, 68)rgb(58, 53, 68)
    color: #97b1f1;
    text-shadow: 0px 1px 2px #4a67ff, 0px -1px 2px #3f5dff, 1px 0px 2px #3f5dff, -1px 0px 2px #3f5dff, 1px 1px 2px #4361ff, -1px -1px 2px #4562ff, 1px -1px 2px #3f5dff, -1px 1px 2px #4360ff, 0px 0px 10px #3f5dffe0, 0px 0px 20px #3f5dffcc, 0px 0px 30px #3f5dffb0, 0px 0px 40px #3f5dff9e, 0px 0px 50px #3f5dff85, 0px 0px 60px #3f5dff61, 0px 0px 70px #3f5dff47;
    -webkit-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
  } */
  
  @-webkit-keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    31.8% {
      opacity: 0.9;
    }
    32% {
      opacity: 0;
    }
    32.2% {
      opacity: 0.9;
    }
    94.6% {
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    95.4% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    31.8% {
      opacity: 0.9;
    }
    32% {
      opacity: 0;
    }
    32.2% {
      opacity: 0.9;
    }
    94.6% {
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    95.4% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes hueRotate{
    0%  {
      filter: hue-rotate(0deg);
    }
    50%  {
      filter: hue-rotate(-120deg);
    }
    100%  {
      filter: hue-rotate(0deg);
    }
  }

.pro-show{
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.pro-show span{
    text-align: center;
}
.anima-wrapper {
    height: 90vh;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}
.anima-image{
    width: 100%;
    height: auto; 
    max-width: 90vw;  
}
.swiper{
  margin-bottom: 8em;
}
.swiper-slide {
    text-align: center;
    background: rgba(255, 255, 255, 0);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
  }
  .popup-btn{
    color: #ffffff;
    background: transparent;
    border: none;
    padding: 9px 0;
    cursor: pointer;
  }
  .popup-btn:hover{
    color: #ffffff;
    background: #210129;
  }
  .box{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: auto;
    max-height: 90vh;
    max-width: 700px;
    box-shadow: 0 5px 30px rgb(0 0 0 / 30%);
    background: rgb(22, 18, 37);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    color: #ffff;
}
.box:before{  
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  background: #fff;
  filter: blur(40px);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.box:after{  
  content: '';
  position: absolute;
  top: 4px;
  left: 0px;
  right: -2px;
  background: #fff;
  /* filter: blur(40px); */
  width: 100%;
  height: 100%;
  z-index: -1;
}
.box:after,
.box:before{  
  background: linear-gradient(235deg, #6c32d9, #010615, #6c32d9);
}
.cultural:after,
.cultural:before{
  background: linear-gradient(235deg, #ff005db5, #010615, #ff005db5);
}
.managerial:after,
.managerial:before{
  background: linear-gradient(235deg, #00ff62, #010615, #02ff61);
}
.entrepreneurial:after,
.entrepreneurial:before{
  background: linear-gradient(235deg, #1489a1, #010615, #1489a1);
}
.others:after,
.others:before{
  background: linear-gradient(235deg, #a11414, #010615, #a11414);
}
.cultural:after,
.cultural:before{
  background: linear-gradient(235deg, #d804ec, #010615, #db07ee);
}
.content-container{
  width: 98%;
  height: 100%;
  padding: 26px;
  background: #011227;
  position: relative;
  top: 8px;

}
.box h2{
    margin-bottom: 20px;
}
.box p{
    margin-bottom: 28px;
}



#pop-up.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 999;
}
#pop-up1.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 999;
}
#pop-up2.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 999;
}
#pop-up3.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 999;
}
#pop-up4.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 999;
}
#pop-up5.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 999;
}
#pop-up6.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 999;
}
#pop-up7.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 999;
}
#pop-up8.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up9.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up10.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up11.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up12.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up13.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up14.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up15.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up16.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up17.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up18.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up19.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#pop-up20.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}
#cultural.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 999;
}
#njpopup.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}

#blur.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}
.popup-content{
  max-height: 201px;
  overflow-y: scroll;
  margin-bottom: 16px;
}
.guidlines{
    text-decoration: none;
    color: #fff;
    background: #6831d1;
    padding: 2px 14px;
    border-radius: 20px;
}
@keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes textColor {
    0% {
      color: #7e0fff;
    }
    50% {
      color: #0fffc1;
    }
    100% {
      color: #7e0fff;
    }
  }
  .pop-up:after {
    position: absolute;
    content: "";
    top: 5vw;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    max-height: 90vh;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
  }
.guidlines:hover{
  background: #ffff !important;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.loader-body{
    height: 100vh;
    font-weight: 800;
    margin: 0;
    padding: 0;
    background: #030321;
    font-family: Arial;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    
    font-family: 'Montserrat', sans-serif !important;
}

.loader-container {
    display: flex;
  /*   border:1px solid red; */
    height: 100%;
    align-items: center;
    padding: 21px;
  }
  
.loader-svg {
      display: block;
      font: 10.5em 'Montserrat' !important;

      font-family: 'Montserrat', sans-serif !important;
      width: 960px;
      height: 300px;
      margin: 0 auto;
  }
  
 .text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: 6% 29%;
      stroke-width: 5px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
  }
  
  .text-copy:nth-child(1){
      stroke: #4D163D;
      animation-delay: -1;
  }
  
  .text-copy:nth-child(2){
      stroke: #840037;
      animation-delay: -2s;
  }
  
  .text-copy:nth-child(3){
      stroke: #BD0034;
      animation-delay: -3s;
  }
  
  .text-copy:nth-child(4){
      stroke: #BD0034;
      animation-delay: -4s;
  }
  
  .text-copy:nth-child(5){
      stroke: #FDB731;
      animation-delay: -5s;
  }
  
  @keyframes stroke-offset{
      100% {stroke-dashoffset: -35%;}
  }

#html.active {
    overflow: hidden !important;
}
















@media(max-width: 459px){
    .anima-wrapper {
        height: 50vh;
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
    }
    .anima-image{
        width: 100%;
        height: auto; 
        max-width: unset;  
    }
    
    #header{
        padding: 20px;
    }
    #header .logo{
        font-size: 1.5em;
    }
    #header .navigation{
        display: none;
    }
    .sec{
        padding: 10px;
        /* margin-top: -224px; */
    }
    .sec h2{
        font-size: 1.5em;
    }
    #masjid{
        transform: translateY(-5px);
    }
    #text{
        font-size: 15px;
    }
    section{
        /* top: -14em; */
    }
    #clg{
        width: 271vw;
        left: -49vw;
    }
    #tree_lt{
        bottom: 0px;
        left: -4vw;
        top: 260px;
        width: 1043px;
    }
    #hill_5{
        bottom: 0px;
        width: 210vw;
        left: 0px;    
    }
    #hill_4_rt{
        bottom: 58vw;
        width: 134vw;
        left: -12vw;
    }
    #hill_4_lt{
        bottom: 37vw;
        width: 289vw;
        left: -75vw;
    }
    #hill_3_lt{
        bottom: 175px;
        width: 236vw;
        left: -11vw;
    }
    #hill_2{
        bottom: 78px;
        width: 314vw;
        LEFT: -45vw;
    }
    #hill_1{
        display: none;
    }
    #aagneya-text{
        position: absolute;
        top: 124vw;
        left: 26vw;
        right: 17vw;
        opacity: 0.2;
        transform: translateY(87%);
        color: #fff;
        font-size: 7vw;
        white-space: nowrap;
        text-shadow: 0 10px 15px rgb(0 0 0 / 25%);
        font-family: 'Righteous', cursive;
        /* animation: box-move 1s infinite alternate-reverse; */
        /* transition: 300ms; */
    }
    #bird2{
        display: none;
    }
    #bird_lt{
        display: none;
    }
    #bus{
        display: none;
    }
    #tree_rt{
        display: none;
    }
    #building_lt{
        display: none;
    }
    #building_rt{
        display: none;
    }
    #aagneya {
        position: absolute;
        top: 103%;
        right: unset;
        transform: unset;
        color: #fff;
        font-size: 10vw;
        white-space: nowrap;
        text-shadow: 0 10px 15px rgb(0 0 0 / 25%);
        font-family: 'Righteous', cursive;
        /* animation: box-move 1s infinite alternate-reverse; */
        /* transition: 300ms; */
    }
    #mobileLogo{
        width: 82vw;
        left: 13vw;
        top: 6vh;
        display: flex;
        animation: box-move 1s infinite alternate-reverse;
        transition: 300ms;
    }
    #bird2_mobile{
        display: flex;
        top: 464px;
        left: 95px;
        width: 66px;
    }
    #bird_lt_mobile{
        display: flex;
        top: 502px;
        left: 257px;
        width: 36px;
    }
    .image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        margin-top: 5%;
        flex-direction: column-reverse;
        display: none; 
    }
    .hori-kuttan{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 880.5px;
        overflow-x: scroll;
        scrollbar-width: none;
    }
    .hori-kuttan-wrapper{
        overflow-x: scroll;
        scrollbar-width: none;
    }
    .hori-kuttan-wrapper::-webkit-scrollbar{
        display: none;
    }
    .hori-kutti{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        position: relative;
        left: -898.5999999999999px;
    }
    .tech-camp{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 16px;
    }
    .tech-camp img{
        width: 90%;
        height: auto;
        border-radius: 12px;
        animation: box-move 1s infinite alternate-reverse;
        transition: 300ms;
    }
    .tech-camp p{
        padding: 10px 0 0 0;
    }
    .tech-camp h3{
        padding: 0 0 20px 0;
        color: #fff;
        margin-top: 5px;
    }
    .tech-camp-head{
        margin-left: 9vw;
        margin-bottom: 0;
    }
    .content-div{
        width: 86%;
    }

    .tech-camp-page{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 16px;
        align-items: center;
        margin-top: 3%;
        padding: 0 5%;
    
    }
    .tech-camp-page-poster{
        margin-top: 20px;
        width: 87% !important;
    }
    .reg-container{
        width: 100%;
        height: 100vh;
        margin-top: 20px;
    }
}
